.App {
  min-height: 100vh;
  background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  );
  overflow: auto;
}

.main-header {
  text-align: center;
  font-weight: lighter;
  font-size: 4rem;
  margin-bottom: 10px;
}

.main-subheading {
  text-align: center;
  font-size: 1.25rem;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  height: 25px;
  border: none;
  padding: 10px;
  border-radius: 15px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  margin-left: 10px;
  border-radius: 60px;
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
